/*Карта стиль*/

.map-all h3 {
  text-align: center;
}

.map-parent {
  display: flex;
  justify-content: center;
}

.map-container {
  display: block;
  width: 900px;
  height: 400px;
  margin-top: 20px;
  border-radius: 15px;
  overflow: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

@media (max-width: 768px) {
  .map-container {
    height: 300px;
  }
}
