/* Основные настройки*/
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B7D3CF;
  color: #331a00;
  line-height: 1.6;
}

main {
    margin-top: 250px; /* Отступ равен высоте navbar */
}

header {
    height: 100px; /* Пример */
}

.main-header {
  text-align: center;
  background-image: url("../img/steps.png");
  background-size: cover;
  background-position: center;
  background-color: #7AA9A7;
  position: relative;
  width: 100%;
  height: 300px;
}

.main-header h1 {
  color: #0a0f1a;
}

.main-title h2 {
  color: #0a0f1a;
  font-size: 24px;
  margin: 10px 0;
  line-height: 1.2;
}

.main-title h3 {
  color: #0a0f1a;
  font-size: 28px;
}


#about {
  text-align: left;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.container {
    max-width: 1200px; /* Максимальная ширина */
    margin: 0 auto; /* Центрируем */
    padding: 0 20px; /* Отступы слева/справа */
}

.service {
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.aboutImg {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.study-img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 30px 20px;
  max-width: 900px;
  margin: 0 auto;
  
}

.section h2 {
  color: #1D0200;
  margin-bottom: 15px;
}

.section:first-of-type {
  margin-top: 80px;
}

/*Карта стиль*/

.map-all h3 {
  text-align: center;
}

.map-parent {
  display: flex;
  justify-content: center;
}

.map-container {
  display: block;
  width: 900px;
  height: 400px;
  margin-top: 20px;
  border-radius: 15px;
  overflow: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

@media (max-width: 768px) {
  .map-container {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .aboutImg {
    height: 300px;
  }
}

/* Футер */
footer {
  background-color: #C4D9D8;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
  color: #696969;
}