/* Основные настройки*/

@font-face {
  font-family: "GoodTime";
  src: url("../fonts/GoodTimeScript.woff2") format(woff2),
  url("../fonts/GoodTimeScript.woff") format(woff);
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B7D3CF;
  color: #331a00;
  line-height: 1.6;
}

.container {
    max-width: 1200px; /* Максимальная ширина */
    margin: 0 auto; /* Центрируем */
    padding: 0 20px; /* Отступы слева/справа */
}

main {
    margin-top: 250px; /* Отступ равен высоте navbar */
}

header {
    height: 100px; /* Пример */
}

.main-header {
  text-align: center;
  background-image:
    linear-gradient(to right top, rgba(122,169,167,0) 60%, #7AA9A7 100%),
    url("../img/steps.png"),
    url("../img/headerImg.png");
  background-size: cover;
  background-position: center;
  background-color: #7AA9A7;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 300px;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; /* Расстояние между строками */
  font-size: 40px;
}

.span-text-do {
  display: block;
  padding: 10px;
  padding: 20px 250px 0px 0px;
}

.span-text-steps {
  display: block;
  font-weight: bold;
  padding: 10px;
  padding: 5px 0px 0px 250px;
  font-family: "GoodTime";
  font-size: 60px;
}

@media (max-width: 768px) {
    .main-text {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 30px;
    }
}

#about {
  text-align: left;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.service {
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.aboutImg {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.study-img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 30px 20px;
  max-width: 900px;
  margin: 0 auto;
  
}

.section h2 {
  color: #1D0200;
  margin-bottom: 15px;
}

.section:first-of-type {
  margin-top: 80px;
}

/* Футер */
footer {
  background-color: #C4D9D8;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
  color: #696969;
}

@media (max-width: 768px) {
  .aboutImg {
    max-width: 100%;
    height: auto;
    display: block
  }
}