.exColor {
    background-color: #FFEDE7; /*Очень светлый кремовый
*/
    background-color: #D98C7C; /*для кнопок однозначно(уже) Тёплый розово-коричневый, хорошо выделяется
*/
    background-color: #C06B5A; /*Темнее кнопок, контрастно и приятно
*/
}
